#l_sidebar
  ul#side_menu.side_menu
    li
      a(href='index.html') トップページ/お知らせ
    li
      a(href='profile.html') プロフィール
    li
      a(href='ayumi.html') 設立からの歩み
    li
      a(href='schedule.html') 練習日程と活動予定
    li
      a(href='member.html') メンバー紹介
    li
      a(href='#') -----
    li
      a(href='concert01.html') 第1回演奏会
    li
      a(href='concert02.html') 第2回演奏会
    li
      a(href='concert03.html') 第3回演奏会
    li
      a(href='concert04.html') 第4回演奏会
    li
      a(href='concert05.html') 第5回演奏会
    li
      a(href='concert06.html') 第6回演奏会
    li
      a(href='concert07.html') 第7回演奏会
    li
      a(href='concert08.html') 第8回演奏会
    li
      a(href='concert09.html') 第9回演奏会
    li
      a(href='concert10.html') 第10回演奏会
    li
      a(href='concert11.html') 第11回演奏会
    li
      a(href='concert12.html') 第12回演奏会
    li
      a(href='concert13.html') 第13回演奏会

