extends templates/_layout.pug

block title
  title 秋田男声合唱団 : 設立からの歩み

block content
  #r_main
    h1 設立からの歩み
    select.year_pulldown(name='select', onchange='location.href=value;')
      option(value='#') 年を選択してください
      option(value='#year1999') 1999年
      option(value='#year2000') 2000年
      option(value='#year2001') 2001年
      option(value='#year2002') 2002年
      option(value='#year2003') 2003年
      option(value='#year2004') 2004年
      option(value='#year2005') 2005年
      option(value='#year2006') 2006年
      option(value='#year2007') 2007年
      option(value='#year2008') 2008年
      option(value='#year2009') 2009年
      option(value='#year2010') 2010年
      option(value='#year2011') 2011年
      option(value='#year2012') 2012年
      option(value='#year2013') 2013年
      option(value='#year2014') 2014年
      option(value='#year2015') 2015年
      option(value='#year2016') 2016年
      option(value='#year2017') 2017年
      option(value='#year2018') 2018年
      option(value='#year2019') 2019年
    h3
      a#year1999 1999年
    table.ayumi(border='1', width='100%')
      colgroup
        col(span='1', width='80')
      tbody
        tr
          td 1月 15日
          td 秋田男声合唱団創立式、成人の日を期して32名で創立（秋田市中央公民館）
        tr
          td 4月 1日
          td 団員40名を確保し、秋田県・秋田市の合唱連盟に加入
        tr
          td 6月20日
          td
            | 第26回秋田県合唱祭（秋田県民会館）
            br
            |  《「月光とピエロ」より　ピエロ、秋のピエロ》
        tr
          td 7月25日
          td
            | 県民芸術祭オープニングフェスティバル（秋田県民会館）
            br
            |  《12人の盗賊、道、柳河》
        tr
          td 7月28日
          td
            | 秋田ロータリークラブ定例会
            br
            |  《秋のピエロ、埴生の宿、ほか》
        tr
          td 11月20日
          td
            a(href='concert01.html') 秋田男声合唱団第1回演奏会
            | （アトリオン）
        tr
          td 11月28日
          td
            | 第36回秋田市民合唱祭（秋田市文化会館）
            br
            |  《埴生の宿、婆やのお家》
        tr
          td 12月 5日
          td
            | 本荘男声合唱団結成20周年記念演奏会（本荘文化会館）
            br
            |  《希望の島、「富士山」より作品第肆、柳河、月光とピエロ》
        tr
          td 12月18日
          td
            | 秋田中央ロータリークラブクリスマス会
            br
            |  《聖夜、ほか》
    hr
    h3
      a#year2000 2000年
    table.ayumi(border='1', width='100%')
      colgroup
        col(span='1', width='80')
      tbody
        tr
          td 6月25日
          td
            | 第27回秋田県合唱祭（秋田市文化会館）
            br
            |  《「富士山」より作品第壹、作品第貳拾壹》
        tr
          td 10月14日
          td
            | コール･カペラと合同演奏（アトリオン）
            br
            |  《シューベルト　ミサ「ト短調」》
        tr
          td 11月23日
          td
            | 鷹巣混声合唱団創立50周年記念特別演奏会（鷹巣町風土館ファルコン）
            br
            |  《シューベルト　ミサ「ト長調」、ハレルヤ、アヴェ・ヴェルム・コルプス》
        tr
          td 11月26日
          td
            | 第37回秋田市民合唱祭（秋田市文化会館）
            br
            |  《カリンカ、君といつまでも》
    hr
    h3
      a#year2001 2001年
    table.ayumi(border='1', width='100%')
      colgroup
        col(span='1', width='80')
      tbody
        tr
          td 6月 9日
          td
            a(href='concert02.html') 秋田男声合唱団第2回演奏会
            | （アトリオン）
        tr
          td 6月10日
          td
            | 酒田飽海地区合唱フェスティバル（酒田市民会館）
            br
            |  《「富士山」より作品第壹、作品第貳拾壹、出船、カリンカ、Swing Low Seeet Chariot、Wade in de water》
        tr
          td 7月 1日
          td
            | 秋田東高校芸術鑑賞教室（アトリオン）
            br
            |  《秋田東高校校歌、出船、秋田県民歌、カリンカ、ステンカラージン、Wade in de water、小夜曲、野ばら、別れ、学生歌》
        tr
          td 8月16日
          td
            | ワールドゲームズ秋田大会開会式（八橋陸上競技場）
            br
            |  《大会賛歌「まほろばの秋田」》
        tr
          td 8月29日
          td
            | 秋田県「県の記念日」記念式典（秋田県庁）
            br
            |  《県民の歌、秋田県民歌》
        tr
          td 9月27日
          td
            | 秋田高校卒業40周年記念歌録音（エフエム秋田）
            br
            |  《四季逍遥、緑燃え立つ》
        tr
          td 12月 2日
          td
            | 第38回秋田市民合唱祭（秋田市文化会館）
            br
            |  《ともしび・流刑人、枯れ木は太陽に祈る》
        tr
          td 12月16日
          td
            | 秋田市武術太極拳連盟創立10周年記念イベント（弥高会館）
            br
            |  《聖夜、秋田県民歌、ほか》
    hr
    h3
      a#year2002 2002年
    table.ayumi(border='1', width='100%')
      colgroup
        col(span='1', width='80')
      tbody
        tr
          td 2月10日
          td
            | NHK秋田放送局開局70周年記念コンサート（秋田市文化会館）
            br
            |  《交響曲「あきた」》
        tr
          td 3月20日
          td
            | 久石譲 with 新日本フィルハーモニー管弦楽団（秋田県民会館）
            br
            |  《For You、Pettit Poucet、Asian Dream Song、もののけ姫》
        tr
          td 5月 4日
          td
            a(href='http://www.cafua.com/cacg/cacg0036.htm') 「大いなる秋田」CD
            | 　録音（秋田市文化会館）
        tr
          td 6月23日
          td
            | 第29回秋田県合唱祭（横手市民会館）
            br
            |  《弥三郎節、最上川舟唄》
        tr
          td 8月29日
          td
            | 秋田県「県の記念日」記念式典（秋田県庁）
            br
            |  《県民の歌、秋田県民歌》
        tr
          td 9月22日
          td
            | 本荘由利地区吹奏楽祭（本荘文化会館）
            br
            |  《大いなる秋田》
        tr
          td 10月18日
          td
            | 市民憲章運動推進第37回全国大会（秋田県民会館）
            br
            |  《大いなる秋田》
        tr
          td 11月17日
          td 川口洋一郎（常任指揮者）「平成14年度木内音楽賞」受賞
        tr
          td 11月22日
          td
            a(href='concert03.html') 秋田男声合唱団第3回演奏会
            | （アトリオン）
        tr
          td 11月24日
          td
            | 第39回秋田市民合唱祭（秋田市文化会館）
            br
            |  《狩人の合唱、昴》
    hr
    h3
      a#year2003 2003年
    table.ayumi(border='1', width='100%')
      colgroup
        col(span='1', width='80')
      tbody
        tr
          td 2月22日
          td 秋田県管弦楽演奏会「秋田の音・草創と今」（アトリオン）
        tr
          td 4月26日
          td
            | 秋田経済法科大学開学50周年式典（秋田県民会館）
            br
            |  《大いなる秋田》
        tr
          td 6月22日
          td
            | 第30回秋田県合唱祭（アトリオン）
            br
            |  《「水のいのち」より　雨、海よ》
        tr
          td 8月29日
          td
            | 秋田県「県の記念日」記念式典（秋田県庁）
            br
            |  《県民の歌、秋田県民歌》
        tr
          td 9月26日
          td 畑中良輔音楽レクチャー　参加（アトリオン）
        tr
          td 10月12日
          td
            | 「大いなる秋田」ピアノ版初演演奏会（能代市文化会館）
            br
            |  《枯れ木と太陽の歌、大いなる秋田》
        tr
          td 10月25日
          td
            | 秋田市建都四百年記念郷土創作オペラ（秋田県民会館）
            br
            |  《久保田城下町～押し花の愛》
        tr
          td 11月 3日
          td 秋田県音楽祭（秋田県民会館）《「水のいのち」より　雨、川》
        tr
          td 11月30日
          td
            | 第40回秋田市民合唱祭（秋田市文化会館）
            br
            |  《「水のいのち」より　雨、自由の歌》
        tr
          td 12月24日
          td
            | 国体スポーツ大賞表彰式（秋田県庁）
            br
            |  《県民の歌、秋田県民歌》
    hr
    h3
      a#year2004 2004年
    table.ayumi(border='1', width='100%')
      colgroup
        col(span='1', width='80')
      tbody
        tr
          td 4月25日
          td
            | NHK「おーい、ニッポン　私の好きな秋田県」生中継（角館町）
            br
            |  《ふるさとラプソディー「どじょっこふなっこ、浜辺の歌、ドンパン節」》
        tr
          td 6月27日
          td
            | 第31回秋田県合唱祭（アトリオン）
            br
            |  《夏の思い出、ジェリコの戦い》
        tr
          td 7月 2日
          td
            a(href='concert04.html') 秋田男声合唱団第4回演奏会
            | （アトリオン）
        tr
          td 7月24日
          td
            | おかあさんカンタート in あきた　パーティー（キャッスルホテル）
            br
            |  《秋田県民歌、夏の思い出、自由の歌》
        tr
          td 8月29日
          td
            | 秋田県「県の記念日」記念式典（秋田県庁）
            br
            |  《県民の歌、秋田県民歌》
        tr
          td 9月 2日
          td
            | 秋田市建都400年記念　第2回美の国秋田音楽祭　ボローニャ歌劇場室内管弦楽団（秋田県民会館）
            br
            |  《秋田の四季》
        tr
          td 10月30日
          td
            | 天王町大合唱祭（天王町総合体育館）
            br
            |  《大いなる秋田》
        tr
          td 11月28日
          td
            | 第41回秋田市民合唱祭（秋田市文化会館）
            br
            |  《「ふるさとの四季」より　故郷、村祭、紅葉》
        tr
          td 12月22日
          td
            | 国体スポーツ大賞表彰式（秋田県庁）
            br
            |  《県民の歌、秋田県民歌》
    hr
    h3
      a#year2005 2005年
    table.ayumi(border='1', width='100%')
      colgroup
        col(span='1', width='80')
      tbody
        tr
          td 2月12日
          td
            | 第28回鷹巣混声合唱団定期演奏会（鷹巣町風土館ファルコン）
            br
            |  《ベートーヴェン　ミサ「ハ長調」》
        tr
          td 6月19日
          td
            | 第32回秋田県合唱祭（アトリオン）
            br
            |  《「月光とピエロ」より　秋のピエロ、月光とピエロとピエレットの唐草模様》
        tr
          td 9月10日
          td
            a(href='concert05.html') 秋田男声合唱団第5回記念演奏会
            | （アトリオン）
        tr
          td 11月20日
          td
            | 秋田市管弦楽団第39回定期演奏会（秋田県民会館）
            br
            |  《ベートーヴェン　交響曲第9番「合唱付き」》
        tr
          td 11月27日
          td
            | 秋田市民合唱祭（秋田市文化会館）
            br
            |  《人それぞれの（秋田男声合唱団団歌）、フィンランディア》
        tr
          td 12月 4日
          td
            | 第6回のしろ第九演奏会（能代市文化会館）
            br
            |  《ベートーヴェン　交響曲第9番「合唱付き」》
        tr
          td 12月22日
          td
            | 国体スポーツ大賞表彰式（秋田県庁）
            br
            |  《県民の歌、秋田県民歌》
    hr
    h3
      a#year2006 2006年
    table.ayumi(border='1', width='100%')
      colgroup
        col(span='1', width='80')
      tbody
        tr
          td 6月24日
          td
            | 第12回　「どじょっこふなっこの歌を楽しむ集い」（秋田市立金足西小学校）
            br
            |  《どじょっこふなっこ、「ノスタルジア」より　花、鉾をおさめて、ほか》
        tr
          td 6月25日
          td
            | 第33回秋田県合唱祭（アトリオン）
            br
            |  《「心の四季」より　風が、山が》
        tr
          td 8月20日
          td 秋田県芸術祭オープニングフェスティバル
        tr
          td 8月24日
          td 全国高等学校PTA連合会大会　秋田大会　オープニングセレモニー
        tr
          td 9月2日
          td 東北電力「あなたの街の音楽会」（秋田県民会館）
        tr
          td 9月24日
          td 浜辺の歌音楽祭（由利本荘市岩城会館）
        tr
          td 11月3日
          td
            | 秋田県音楽祭（秋田県民会館）
            br
            |  《大いなる秋田》
        tr
          td 11月26日
          td
            | 秋田市民合唱際（秋田市文化会館）
            br
            |  《「ノスタルジア」より　箱根八里、赤とんぼ》
    hr
    h3
      a#year2007 2007年
    table.ayumi(border='1', width='100%')
      colgroup
        col(span='1', width='80')
      tbody
        tr
          td 2月2日
          td 秋田県芸術選奨表彰式祝賀演奏
        tr
          td 6月9日
          td
            a(href='concert06.html') 秋田男声合唱団第6回演奏会
            | （アトリオン）
        tr
          td 6月30日
          td 第34回秋田県合唱祭（アトリオン）
        tr
          td 8月19日
          td
            | アトリオン室内オーケストラ第27回定期公演（アトリオン）
            br
            |  《フォーレ「レクイエム」》
        tr
          td 9月29日
          td 秋田わか杉国体開会式（秋田県営陸上競技場）
        tr
          td 10月9日
          td 秋田わか杉国体閉会式（秋田県営陸上競技場）
        tr
          td 10月13日
          td 秋田わか杉大会開会式（秋田県営陸上競技場）
        tr
          td 10月15日
          td 秋田わか杉退会閉会式（秋田県営陸上競技場）
        tr
          td 11月3日
          td
            | 秋田県音楽祭（秋田県民会館）
            br
            |  《大いなる秋田》
        tr
          td 11月25日
          td
            | 第44回秋田市民合唱祭（秋田市文化会館）
            br
            |  《「ふるさとの四季」より　故郷、紅葉》
        tr
          td 12月22日
          td 東京交響楽団 第九演奏会（アトリオン）
    hr
    h3
      a#year2008 2008年
    table.ayumi(border='1', width='100%')
      colgroup
        col(span='1', width='80')
      tbody
        tr
          td 3月25日
          td 日本男声合唱協会加盟
        tr
          td 6月29日
          td 第35回秋田県合唱祭（アトリオン）
        tr
          td 11月30日
          td 第45回秋田市民合唱祭（秋田市文化会館）
        tr
          td 12月12日
          td
            a(href='concert07.html') 創立10周年記念　第7回演奏会
            | （アトリオン）
    hr
    h3
      a#year2009 2009年
    table.ayumi(border='1', width='100%')
      colgroup
        col(span='1', width='80')
      tbody
        tr
          td 6月28日
          td 第36回秋田県合唱祭（アトリオン）
        tr
          td 10月3日
          td 川口洋一郎先生退職記念謝恩コンサート（秋田市文化会館）
        tr
          td 10月11日
          td 第46回秋田市民合唱祭（秋田市文化会館）
        tr
          td 11月3日
          td 大いなる秋田演奏会（秋田県民会館）
        tr
          td 12月7日
          td 「藤田嗣治作『秋田の行事』の前で秋田県民歌を歌おう」（秋田県立美術館）
    hr
    h3
      a#year2010 2010年
    table.ayumi(border='1', width='100%')
      colgroup
        col(span='1', width='80')
      tbody
        tr
          td 6月17日
          td 秋田県民歌・秋田県民の歌収録（秋田市文化会館）
        tr
          td 6月27日
          td 第37回秋田県合唱祭（アトリオン）
        tr
          td 8月21日
          td 秋田歌の輪コンサート（秋田県民会館）
        tr
          td 9月20日
          td シエナ・ウインドオーケストラ演奏会（秋田県民会館）
        tr
          td 10月24日
          td 第47回秋田市民合唱祭（秋田市文化会館）
        tr
          td 11月3日
          td 大いなる秋田演奏会（秋田県民会館）
        tr
          td 11月26日
          td
            a(href='concert08.html') 秋田男声合唱団第8回演奏会
            | （アトリオン）
        tr
          td 12月17日
          td 秋田中央ロータリークラブクリスマス会（ホテルメトロポリタン秋田）
    hr
    h3
      a#year2011 2011年
    table.ayumi(border='1', width='100%')
      colgroup
        col(span='1', width='80')
      tbody
        tr
          td 6月24日
          td 第38回秋田県合唱祭（アトリオン）
        tr
          td 9月24日
          td 秋田エイジフレンドリーフォーラム（アルヴェ）
        tr
          td 10月10日
          td 秋田歌の輪コンサート（秋田県民会館）
        tr
          td 10月23日
          td 第48回秋田市民合唱祭（秋田市文化会館）
        tr
          td 11月3日
          td 大いなる秋田演奏会（秋田県民会館）
        tr
          td 11月20日
          td 木内音楽賞受賞
        tr
          td 12月4日
          td
            a(href='concert09.html') 秋田男声合唱団第9回演奏会
            | （アトリオン）
    hr
    h3
      a#year2012 2012年
    table.ayumi(border='1', width='100%')
      colgroup
        col(span='1', width='80')
      tbody
        tr
          td 6月2日
          td コーロプリムローズ（女声合唱団）に賛助出演
        tr
          td 6月24日
          td 第39回秋田県合唱祭（アトリオン）
        tr
          td 10月8日
          td 能代市民合唱団演奏会に賛助出演（能代市民文化会館）
        tr
          td 10月28日
          td 第49回秋田市民合唱祭（秋田市文化会館）
        tr
          td 11月3日
          td  「大いなる秋田」演奏会（秋田県民会館）
        tr
          td 11月23日
          td 第3回あきた歌の輪コンサート（秋田県民会館）
        tr
          td 12月4日
          td 第4回あきた歌の輪県南コンサート（大曲市民会館）
        tr
          td 12月24日
          td 秋田男声合唱団第10回記念演奏会（アトリオン）
    hr
    h3
      a#year2013 2013年
    table.ayumi(border='1', width='100%')
      colgroup
        col(span='1', width='80')
      tbody
        tr
          td 2月2日
          td 第38回秋田市児童合唱のつどいに賛助出演（秋田県民会館）
        tr
          td 2月6日
          td 荘内銀行ゆりの会記念演奏会（秋田キャッスルホテル）
        tr
          td 3月10日
          td 男鹿市民吹奏楽団創立30周年記念「大いなる秋田」（男鹿市民会館）
        tr
          td 6月30日
          td 第40回秋田県合唱祭（アトリオン）
        tr
          td 9月7日
          td アトリオン音楽ホール【25周年記念ガラ～秀麗無比なる】への協力（アトリオン）
        tr
          td 10月27日
          td 創立50周年記念第50回秋田市民合唱祭（秋田市文化会館）
        tr
          td 11月3日
          td 「大いなる秋田」演奏会（秋田県民会館）
        tr
          td 12月8日
          td 第5回あきた歌の輪コンサート（秋田県民会館）
    hr
    h3
      a#year2014 2014年
    table.ayumi(border='1', width='100%')
      colgroup
        col(span='1', width='80')
      tbody
        tr
          td 4月27日
          td 創立15周年記念第11回演奏会（アトリオン）
        tr
          td 6月29日
          td 41回秋田県合唱祭（アトリオン）
        tr
          td 10月4日
          td 第29回国民文化祭・あきた2014～開会式・オープニングフェスティバル（秋田県立武道館）
        tr
          td 10月26日
          td 第29回国民文化祭・あきた2014～合唱の祭典（秋田県立武道館）
        tr
          td 11月16日
          td 第51回秋田市民合唱祭（秋田市文化会館）
        tr
          td 11月24日
          td 「大いなる秋田」演奏会（秋田県民会館）
    hr
    h3
      a#year2015 2015年
    table.ayumi(border='1', width='100%')
      colgroup
        col(span='1', width='80')
      tbody
        tr
          td 1月11日
          td 第6回あきた歌の輪コンサート（秋田市文化会館）
        tr
          td 5月8日
          td 秋田県更生保護女性連盟総会（秋田キャッスルホテル）
        tr
          td 5月27日
          td 「どしょっこふなっこの歌を楽しむ会」（秋田市立金足西小学校）
        tr
          td 6月28日
          td 第42回秋田県合唱祭（アトリオン）
        tr
          td 8月23日
          td 桑原（株）創業記念祝賀会演奏会（秋田キャッスルホテル）
        tr
          td 10月4日
          td 第4回いのちのＵＴＡコンサート（由利本荘市文化交流館カダーレ）
        tr
          td 10月25日
          td 第52回秋田市民合唱祭（秋田市文化会館）
        tr
          td 11月3日
          td 「大いなる秋田」演奏会（秋田県民会館）
        tr
          td 12月23日
          td 第7回あきた歌の輪コンサート（秋田市文化会館）
    hr
    h3
      a#year2016 2016年
    table.ayumi(border='1', width='100%')
      colgroup
        col(span='1', width='80')
      tbody
        tr
          td 4月24日
          td 4合唱団による春のコンサート（アトリオン）
        tr
          td 5月29日
          td 「秋田県民による手づくりコンサート」第九演奏会（秋田市文化会館）
        tr
          td 6月26日
          td 第43回秋田県合唱祭（アトリオン）
        tr
          td 9月25日
          td 中山組創業100周年記念祝賀式典 （秋田キャッスルホテル）
        tr
          td 9月30日
          td 秋田東署「秋田の全国交通安全」 （イオン御所野店）
        tr
          td 10月2日
          td 第8回あきた歌の輪コンサート （秋田県民会館）
        tr
          td 10月16日
          td 秋田市民合唱祭 （秋田市文化会館）
        tr
          td 11月3日
          td 秋田県優秀団体演奏会「大いなる秋田」 （秋田県民会館）
        tr
          td 11月12日
          td 秋田県警察音楽隊定期演奏会 （秋田県民会館）
        tr
          td 11月27日
          td 秋田声楽研究会混声合唱団と合同演奏会（北秋田市ファルコン）
    hr
    h3
      a#year2017 2017年
    table.ayumi(border='1', width='100%')
      colgroup
        col(span='1', width='80')
      tbody
        tr
          td 1月13日
          td 秋田男声合唱団　新年会（魚河岸）
        tr
          td 4月9日
          td  秋田県合唱連盟総会（秋田キャッスルホテル）
        tr
          td 4月30日
          td  第12回定期演奏会（アトリオン）
        tr
          td 6月25日
          td  秋田県合唱祭（アトリオン）
        tr
          td
            | 7月15日
            br
            | 16日
          td  ＪＡＭＵＫＡ全国大会（八戸）
        tr
          td 9月8日
          td ねんりんピックリハーサル（秋田県陸上競技場）
        tr
          td 9月9日
          td ねんりんピック（秋田県陸上競技場）
        tr
          td 10月15日
          td 潟上ロータリークラブ50周年記念（秋田キャッスルホテル）
        tr
          td 10月22日
          td 秋田市民合唱祭（秋田市文化会館）
        tr
          td 11月12日
          td 小松耕輔、由利本荘市音楽祭（カダーレ）
        tr
          td 11月19日
          td 秋田うたの輪コンサート（秋田県民会館）
    hr
    h3
      a#year2018 2018年
    table.ayumi(border='1', width='100%')
      colgroup
        col(span='1', width='80')
      tbody
        tr
          td 1月12日
          td 秋田男声合唱団新年会　（魚河岸）
        tr
          td 4月 8日
          td 秋田県合唱連盟総会（秋田キャッスルホテル）
        tr
          td 5月18日
          td H30年度総会（協同大町ビル）
        tr
          td 6月 7日
          td あきた歌の輪ネットワーク総会（協同大町ビル）
        tr
          td 6月24日
          td 第45回秋田県合唱祭（アトリオン音楽ホール）
        tr
          td 9月 2日
          td 第10回あきた歌の輪コンサート（秋田県児童会館）
        tr
          td 10月28日
          td  第55回秋田市民合唱祭（秋田市文化会館）
        tr
          td 10月28日
          td  秋田市合唱連盟50周年記念祝賀会（秋田キャッスルホテル）
        tr
          td 11月18日
          td 木内音楽賞授賞式（イヤタカ会館5F）
        tr
          td 12月27日
          td 秋田県民による手づくりコンサート第九演奏会（秋田市文化会館）
    hr
    h3
      a#year2019 2019年
    table.ayumi(border='1', width='100%')
      colgroup
        col(span='1', width='80')
      tbody
        tr
          td 1月11日
          td 秋田男声合唱団新年会　（魚河岸）
        tr
          td 3月 3日
          td にかほ市教育委員会　女性のつどい（仁賀保市勤労青少年ホーム）
        tr
          td 3月23日
          td 創立20周年記念第13回演奏会
        tr
          td 4月 7日
          td 秋田県合唱連盟総会（秋田キャッスルホテル）
        tr
          td 5月24日
          td H31年度総会　（協同大町ビル）
        tr
          td 6月 1日
          td 秋田県合唱祭　（アトリオン音楽ホール）
        tr
          td 6月20日
          td あきた歌の輪ネットワーク総会（協同大町ビル）
        tr
          td 10月20日
          td 秋田市民合唱祭（秋田市文化会館）
        tr
          td 10月27日
          td あきた歌の輪コンサート（秋田市文化会館）
        tr
          td 12月 1日
          td 木内音楽賞授賞式　（秋田ビューホテル）
  // r_main


