extends templates/_layout.pug

block title
  title 秋田男声合唱団 : 第4回演奏会

block content
  #r_main
    h1 秋田男声合唱団第4回演奏会
    dl.dateloc
      dt 日時
      dd 2004年7月2日(金)午後6時30分開演(開場6時)
      dt 会場
      dd
        a(href='http://www.atorion.co.jp/ongaku/') アトリオン音楽ホール
        | (秋田市)
    h2 第1部 歌に思いを込めて
    dl.pieces
      dt 秋田県民歌
      dd 倉田政嗣 作詩  高野辰之 修正  成田為三 作曲
      dt 夏の思い出
      dd 江間章子 作詩　中田喜直 作曲　増田邦明 編曲
      dt 雨後
      dd 三好達治 作詩　多田武彦 作曲
      dt ジェリコの戦い
      dd 黒人霊歌
      dt 婆やのお家
      dd 林柳波 作詩　本居長世 作曲
      dt 自由の歌
      dd シュトウンツ 作曲
    h2 第2部 男声合唱とピアノの為の「さすらう若人の歌」
    p.compose グスタフ・マーラー 作曲
    h2 第3部 男声合唱組曲「水のいのち」
    p.compose 高野喜久雄 作詩　高田三郎 作曲
    dl.pieces
      dt 雨
      dd
      dt 水たまり
      dd
      dt 川
      dd
      dt 海
      dd
      dt 海よ
      dd
  // r_main


