extends templates/_layout.pug

block title
  title 秋田男声合唱団 : 第6回演奏会

block content
  #r_main
    h1 秋田男声合唱団第6回演奏会
    dl.dateloc
      dt 日時
      dd 2007年6月9日(土)午後2時開演(開場1時30分)
      dt 会場
      dd
        a(href='http://www.atorion.co.jp/ongaku/') アトリオン音楽ホール
        | (秋田市)
    h2 第1部 男声合唱による日本名歌集　ノスタルジア　より
    p.compose 信長貴富 編曲
    dl.pieces
      dt 花
      dd
      dt 箱根八里
      dd
      dt 村の鍛冶屋
      dd
      dt 鉾をおさめて
      dd
      dt 赤とんぼ
      dd
    h2 第2部 レクイエム　ニ短調　より
    p.compose ケルビーニ　作曲
    h2 第3部 男声合唱組曲　心の四季
    p.compose 吉野弘 作詩　高田三郎 作曲　須賀敬一 編曲
    dl.pieces
      dt 風が
      dd
      dt 水すまし
      dd
      dt 流れ
      dd
      dt 山が
      dd
      dt 愛そして風
      dd
      dt 雪の日に
      dd
      dt 真昼の星
      dd
  // r_main


