extends templates/_layout.pug

block title
  title 秋田男声合唱団 : 第2回演奏会

block content
  #r_main
    h1 秋田男声合唱団第2回演奏会
    dl.dateloc
      dt 日時
      dd 2001年6月9日(土)午後6時30分開演(開場6時)
      dt 会場
      dd
        a(href='http://www.atorion.co.jp/ongaku/') アトリオン音楽ホール
        | (秋田市)
    h2 第1部 歌に思いを込めて
    dl.pieces
      dt 秋田県民歌
      dd 倉田政嗣 作詩  高野辰之 修正  成田為三 作曲
      dt 出船
      dd 勝田香月 作詩　杉山長谷夫 作曲
      dt かなりや
      dd 西条八十 作詩　成田為三 作曲
      dt ステンカ・ラージン
      dd ロシア民謡
      dt カリンカ
      dd ロシア民謡
      dt Swing Low, sweet Chariot
      dd 黒人霊歌
      dt Wade in de water
      dd 黒人霊歌
      dt 君といつまでも
      dd 岩谷時子 作詩　弾厚作 作曲
    h2 第2部 ドイツのうた
    dl.pieces
      dt 水上の精霊の歌（男声8部合唱）
      dd ヨハン・ヴォルフガング・フォン・ゲーテ 作詩
      dd フランツ・ペーターシューベルト 作曲
      dt 小品メドレー
      dd
      dt 小夜曲
      dd マルシュネル 作曲
      dt 野ばら
      dd ゲーテ 原詩　近藤朔風 訳詩　ウェルナー 作曲
      dt 別れ
      dd 夏目利江 訳詩　ドイツ民謡
      dt 学生歌
      dd 岡本敏明 作詩　ドイツ民謡
      h2 第3部 男声合唱組曲「富士山」
      p.compose 草野心平 作詩　多田武彦 作曲
      dl.pieces
        dt 作品第壹
        dd
        dt 作品第肆
        dd
        dt 作品第拾陸
        dd
        dt 作品第拾捌
        dd
        dt 作品第貳拾壹
        dd
  // r_main


