extends templates/_layout.pug

block title
  title 秋田男声合唱団 : 第12回演奏会

block content
  #r_main
    h1 秋田男声合唱団第12回演奏会
    h1 ふるさとを唄う
    dl.dateloc
      dt 日時
      dd 2017年4月30日(土)午後2時開演(開場1時30分)
      dt 会場
      dd
        a(href='http://www.atorion.co.jp/ongaku/') アトリオン音楽ホール
        | (秋田市)
    h2 第1部 男声合唱のための組曲「蔵王」より
    p.compose 尾崎左永子 作詩　佐藤眞 作曲
    dl.pieces
      dt 蔵王賛歌
      dd
      dt 投げよう林檎を
      dd
      dt 苔の花
      dd
      dt どっこ沼
      dd
      dt 雪むすめ
      dd
      dt 早春
      dd
    h2 第2部 秋田声楽研究会混声合唱団
    ul
      li
        | 混声合唱のためのヒットメドレーYUME夢
        ul
          li 故郷
          li 夢で逢えたら
          li 虹と雪のバラード
          li いつでも夢を
          li 三百六十五歩のマーチ
          li 夢で逢いましょう
          li 青春時代
          li 見上げてごらん夜の星を
      li いのちの歌
      li 平和という果実
    h2 第3部 秋田男声合唱団
    dl.pieces
      dt 野ばら
      dd
      dt 埴生の宿
      dd
      dt から松
      dd
      dt 落葉松
      dd
      dt 浜辺の歌
      dd
    h2 第4部 秋田男声合唱団／秋田声楽研究会混声合唱団／コール・もりよし合唱団（友情出演）
    h2 　　　男声合唱のための唱歌メドレー「ふるさとの四季」
    p.compose 源田俊一郎 編曲
    dl.pieces
      dt 故郷
      dd
      dt 春の小川
      dd
      dt 朧月夜
      dd
      dt 鯉のぼり
      dd
      dt 茶摘
      dd
      dt 夏は来ぬ
      dd
      dt われは海の子
      dd
      dt 村祭り
      dd
      dt 紅葉
      dd
      dt 冬景色
      dd
      dt 雪
      dd
      dt 故郷
      dd
    h2 フィナーレ
    dl.pieces
      dt みんなでうたおう「秋田県民歌」
      dd
  // r_main


