extends templates/_layout.pug

block title
  title 秋田男声合唱団 : 第10回演奏会

block content
  #r_main
    h1 秋田男声合唱団第10回記念演奏会
    dl.dateloc
      dt 日時
      dd 2012年12月24日(月・祝)午後2時開演(開場1時30分)
      dt 会場
      dd
        a(href='http://www.atorion.co.jp/ongaku/') アトリオン音楽ホール
        | (秋田市)
      dt 管弦楽
      dd 秋田フィルハーモニー管弦楽団
    h2 オープニング
    dl.pieces
      dt 秋田県民歌
      dd 倉田政嗣 作詩  高野辰之 修正  成田為三 作曲
    h2 第1部 クリスマスに寄せて(ピアノ伴奏)
    dl.pieces
      dt 聖夜
      dd 賛美歌　１０９番
      dt 神ともにいまして
      dd 賛美歌　４４１番
      dt もろびとこぞりて
      dd 賛美歌　　５７番
    h2 第２部　男声合唱と管弦楽のための「レクイエム」ニ短調
    p.compose マリア・ルイジ・ケルビーニ 作曲
    dl.pieces
      dt Ⅰ Introitus et Kyrie （入祭唱とキリエ）
      dd
      dt Ⅱ Graduale （昇階唱）
      dd
      dt Ⅲ Dies Irae （怒りの日）
      dd
      dt Ⅳ Offertorium （奉納唱）
      dd
      dt Ⅴ Sanctus （聖なるかな）
      dd
      dt Ⅵ Pie Jesu （慈しみ深きイエス）
      dd
      dt Ⅶ Agnus Dei （神の子羊）
      dd
    h2 第3部 男声合唱のための「日本の抒情歌集」より　他
    dl.pieces
      dt 砂山
      dd 北原白秋 作詩　中山晋平 作曲
      dt 故郷
      dd 高野辰之 作詩　岡野貞一 作曲
      dt 浜辺の歌
      dd 林古渓 作詩　成田為三 作曲
      dt 君をのせて
      dd 宮崎駿 作詩　久石譲 作曲
    h2 フィナーレ
    dl.pieces
      dt みんなでうたおう「秋田県民歌」
      dd
  // r_main


