extends templates/_layout.pug

block title
  title 秋田男声合唱団 : 第8回演奏会

block content
  #r_main
    h1 秋田男声合唱団第8回演奏会
    dl.dateloc
      dt 日時
      dd 2010年11月26日(金)午後6時開演(開場5時30分)
      dt 会場
      dd
        a(href='http://www.atorion.co.jp/ongaku/') アトリオン音楽ホール
        | (秋田市)
    hr
    h3 伴奏
    dl
      dt ピアノ
      dd 川口友子
      dt ヴィオラ
      dd 駒込綾　北島奏子　坂本陽子　羽川涼子
      dt チェロ
      dd 鈴木信哉　須藤結子
      dt コントラバス
      dd 佐藤歩
    hr
    h2 第1部 ふるさとのうた
    dl.pieces
      dt 秋田県民歌
      dd 倉田政嗣 作詩  高野辰之 修正  成田為三 作曲
      dt ふるさと
      dd 高野辰之 作詩　岡野貞一 作曲
      dt Old Black Joe
      dd 黒人霊歌
      dt ローレライ
      dd
      dt かえろかえろ
      dd 北原白秋 作詩　山田耕筰 作曲
      dt 悲しい酒
      dd 石本美由起 作詩　古賀政男 作曲
      dt リンゴ追分
      dd 小沢不二夫 作詩　米山正夫 作曲
    h2 第2部 シューベルトの男声合唱曲
    p.compose フランツ・シューベルト 作曲
    dl.pieces
      dt 詩篇23番
      dd
      dt 水上の精霊の歌
      dd
    h2 第3部 男声合唱組曲「内なる遠さ」より
    p.compose 高野喜久雄 作詩　高田三郎 作曲
    dl.pieces
      dt 飛翔　〜　白鷺
      dd
      dt 崖の上　〜　かもしか
      dd
      dt 合掌　〜　さる
      dd
      dt 燃えるもの　〜　蜘蛛
      dd
  // r_main


