extends templates/_layout.pug

block title
  title 秋田男声合唱団 : 第13回演奏会

block content
  #r_main
    h1 秋田男声合唱団第13回演奏会
    dl.dateloc
      dt 日時
      dd 2019年3月23日(土)午後2時開演(開場1時30分)
      dt 会場
      dd
        a(href='http://www.atorion.co.jp/ongaku/') アトリオン音楽ホール
        | (秋田市)
    h2 オープニング
    dl.pieces
      dt 秋田県民歌
      dd 倉田政嗣 作詩  高野辰之 修正  成田為三 作曲
    h2 第1部 無伴奏男声合唱曲
    dl.pieces
      dt 希望の島
      dd 小松玉巌 作詩　ジョーンズ 作曲
      dt 「富士山」より　Ⅱ 作品第肆
      dd 草野心平 作詩　多田武彦 作曲
      dt 「柳川風俗詩」より　Ⅰ 柳川
      dd 北原白秋 作詩　多田武彦 作曲
      dt 「雪明りの路」より　Ⅰ 春を待つ
      dd 伊藤整 作詩　多田武彦 作曲
      dt 「雨」より　Ⅳ 雨
      dd 八木重吉 作詩　多田武彦 作曲
    h2 第2部 男声合唱による日本叙情歌曲集
    p.compose 林光 編曲
    dl.pieces
      dt 箱根八里
      dd 鳥居枕 作詩　滝廉太郎 作曲
      dt 中国地方の子守歌
      dd 日本民謡　山田耕筰 作曲
      dt 浜辺の歌
      dd 林古渓 作詩　成田為三 作曲
      dt 叱られて
      dd 清水かつら 作詩　弘田龍太郎 作曲
      dt 早春賦
      dd 吉丸一昌 作詩　中田章 作曲
      dt 待ちぼうけ
      dd 北原白秋 作詩　山田耕筰 作曲
    h2 第3部 男声合唱のための組曲「旅」
    p.compose 佐藤慎 作曲
    dl.pieces
      dt 旅立つ日
      dd 田中清光 作詩
      dt 村の小径で
      dd 山之井慎 作詩
      dt 旅のよろこび
      dd 山之井慎 作詩
      dt なぎさあゆめば
      dd 山之井慎 作詩
      dt かごにのって
      dd 田中清光 作詩
      dt 旅のあとに
      dd 田中清光 作詩
      dt 行こうふたたび
      dd 田中清光 作詩
  // r_main


