extends templates/_layout.pug

block title
  title 秋田男声合唱団 : 第9回演奏会

block content
  #r_main
    h1 秋田男声合唱団第9回演奏会
    dl.dateloc
      dt 日時
      dd 2011年12月4日(土)午後2時開演(開場1時30分)
      dt 会場
      dd
        a(href='http://www.atorion.co.jp/ongaku/') アトリオン音楽ホール
        | (秋田市)
      dt 友情出演
      dd 男声合唱団デザミ・アンティム（山形県鶴岡市）
    h2 第1部 こころのうた
    h3 古典イタリア歌曲集より
    dl.pieces
      dt Amarilli, mia bella （麗し　アマリッリ）
      dd ジュリオ・カッチーニ
      dt Ombra mai fu (Largo) （樹木の蔭で「ラールゴ」）
      dd ヘンデル
      dt O del mio dolce ardor （私の優しい恋人よ） 
      dd グルック
      dt Piacer d'amor　（愛の喜び）
      dd ジョバンニ・マルティーニ
    h3 歌曲集「8つの歌」より
    dl.pieces
      dt Allerseelen　（万霊節）
      dd リヒャルト・シュトラウス
    h2 第2部 友情出演　男声合唱団デザミ・アンティム
    dl.pieces
      dt 知床慕情
      dd
      dt 酒と泪と男と女
      dd
      dt 浪花節だよ人生は
      dd
      dt 芭蕉布
      dd
      dt 上を向いて歩こう
      dd
    h2 第3部 男声合唱組曲「水のいのち」
    p.compose 高野喜久雄 作詩　高田三郎 作曲
    dl.pieces
      dt 雨
      dd
      dt 水たまり
      dd
      dt 川
      dd
      dt 海
      dd
      dt 海よ
      dd
  // r_main


