extends templates/_layout.pug

block title
  title 秋田男声合唱団 : 第11回演奏会

block content
  #r_main
    h1 秋田男声合唱団第11回演奏会
    dl.dateloc
      dt 日時
      dd 2014年4月27日(土)午後2時開演(開場1時30分)
      dt 会場
      dd
        a(href='http://www.atorion.co.jp/ongaku/') アトリオン音楽ホール
        | (秋田市)
    h2 第1部 邦人男声合唱組曲
    dl.pieces
      dt 「内なる遠さ」より　飛翔　〜　白鷺
      dd 高野喜久雄 作詩　高田三郎 作曲
      dt 「心の四季」より　風が
      dd 吉野弘 作詩　高田三郎 作曲　須賀敬一 編曲
      dt 「水のいのち」より　雨
      dd 高野喜久雄 作詩　高田三郎 作曲
      dt 「土の歌」より　大地讃頌
      dd 大木惇夫 作詩　佐藤眞 作曲
    h2 第2部 外国の歌
    dl.pieces
      dt いざ起て戦人よ
      dd
      dt Nobody knows de Trouble I See
      dd
      dt 希望の島
      dd
      dt カリンカ
      dd
      dt 別れ
      dd
      dt 埴生の宿
      dd
    h2 第3部 記念合同演奏　男声合唱組曲「月光とピエロ」
    p.compose 堀口大學 作詩　清水脩 作曲
    dl.pieces
      dt 月夜
      dd
      dt 秋のピエロ
      dd
      dt ピエロ
      dd
      dt ピエロの嘆き
      dd
      dt 月光とピエロとピエレットの唐草模様
      dd
  // r_main


