extends templates/_layout.pug

block title
  title 秋田男声合唱団 : 第7回演奏会

block content
  #r_main
    h1 創立10周年記念
    h1 秋田男声合唱団第7回演奏会
    dl.dateloc
      dt 日時
      dd 2008年12月12日(金)午後6時開演(開場5時30分)
      dt 会場
      dd
        a(href='http://www.atorion.co.jp/ongaku/') アトリオン音楽ホール
        | (秋田市)
      dt 管弦楽
      dd 秋田男声記念オーケストラ
    h2 第1部 思い出の歌
    dl.pieces
      dt 秋田県民歌
      dd 倉田政嗣 作詩  高野辰之 修正  成田為三 作曲
      dt 「柳河風俗詩」より　柳河
      dd 北原白秋 作詩　多田武彦 作曲
      dt 婆やのお家
      dd 林柳波 作詩　本居長世 作曲
      dt 「月光とピエロ」より　秋のピエロ
      dd 堀口大學 作詩　清水脩 作曲
      dt 「水のいのち」より　海よ
      dd 高野喜久雄 詩　高田三郎 作曲
    h2 第2部 オーケストラ伴奏による男声合唱のための唱歌メドレー「ふるさとの四季」
    p.compose 源田俊一郎 編曲
    h2 第3部 男声合唱と管弦楽のための　レクイエム　ニ短調
    p.compose ケルビーニ　作曲
  // r_main


