extends templates/_layout.pug

block title
  title 秋田男声合唱団 : 第1回演奏会

block content
  #r_main
    h1 秋田男声合唱団第1回演奏会
    dl.dateloc
      dt 日時
      dd 1999年11月20日(土)
      dt 会場
      dd
        a(href='http://www.atorion.co.jp/ongaku/') アトリオン音楽ホール
        | (秋田市)
    h2 第1部 日本のうた
    dl.pieces
      dt 秋田県民歌
      dd
      dt 婆やのお家
      dd
      dt 風
      dd
      dt 「富士山」より　作品第肆
      dd
      dt 「柳川風俗詩」より　柳川
      dd
    h2 第2部 世界のうた
    dl.pieces
      dt ドイツ学生の歌
      dd
        ul
          li
            | Die Soonne scheint nicht mehr
          li
            | Erlaud mir, fein's Madchen
          li
            | In stiller Nacht
      dt 希望の島
      dd
      dt 道
      dd
      dt 十二人の盗賊
      dd
      dt 埴生の宿
      dd
    h2 第3部 男声合唱組曲「月光とピエロ」
    dl.pieces
      dt 月夜
      dd
      dt 秋のピエロ
      dd
      dt ピエロ
      dd
      dt ピエロの嘆き
      dd
      dt 月光とピエロとピエレットの唐草模様
      dd
  // r_main


