extends templates/_layout.pug

block title
  title 秋田男声合唱団 : 第3回演奏会

block content
  #r_main
    h1 秋田男声合唱団第3回演奏会
    dl.dateloc
      dt 日時
      dd 2002年11月22日(金)午後6時30分開演(開場6時)
      dt 会場
      dd
        a(href='http://www.atorion.co.jp/ongaku/') アトリオン音楽ホール
        | (秋田市)
    h2 第1部 歌に思いを込めて
    dl.pieces
      dt 秋田県民歌
      dd 倉田政嗣 作詩  高野辰之 修正  成田為三 作曲
      dt 赤い靴
      dd 野口雨情 作詩　本居長世 作曲　福永洋一郎 編曲
      dt 狩人の合唱
      dd 三浦和夫 訳詩　ウェーバー 作曲
      dt 他
      dd
    h2 第2部 男声合唱曲「枯木と太陽の歌」
    p.compose 中田浩一郎 作詩　石井歓 作曲
    h2 第3部 すばる 〜 歌は生きている
    dl.pieces
      dt 生きる
      dd 谷川俊太郎 作詩　谷義和 作曲
      dt しおさいの詩
      dd 小椋佳 作詩・作曲
      dt 昴
      dd 谷村新司 作詩・作曲
      dt 他
      dd
    h2 第3部 男声合唱のための「山川海里」より
    p.compose 高橋馨 作曲
    dl.pieces
      dt 弥三郎節
      dd
      dt こきりこ
      dd
      dt 最上川舟唄
      dd
      dt 秋田音頭
      dd
  // r_main


