extends templates/_layout.pug

block title
  title 秋田男声合唱団 : メンバー紹介

block content
  #r_main
    h1 メンバー紹介
    dl
      dt 指揮者
      dd 川口洋一郎
      dt ピアノ伴奏者
      dd 川口友子
      dt 代表
      dd 金俊博
      dt 副代表
      dd 田森一煕
      dt 事務局
      dd 金俊博, 長浜谷稔, 小笠原清輝 
      dt 会計
      dd 脇正雄
      dt 編集委員
      dd 佐藤幸男
      dt パートリーダー
      dd T1:橋本雅臣, T2:  塚本正勝  , B1:  小野寺伊久雄	, B2:相澤信清
      dt 団員指揮者
      dd 嵯峨光雄
      dt 監事
      dd 嵯峨巍，高階幸道
    .member_list
      section.part
        h4 第1テノール
        ul
          li 安彦良太郎
          li 木村祐治
          li 高田煕
          li 田森一煕
          li 長嶋孝
          li 橋本雅臣
          li 堀井伸一
          li 山崎克人
          li 吉田久男
          li 脇正雄
      section.part
        h4 第2テノール
        ul
          li 小笠原清輝 
          li 嵯峨巍
          li 嵯峨光雄
          li 高階幸道
          li 塚本正勝
          li 長浜谷稔
          li 渡辺晃
      section.part
        h4 バリトン
        ul
          li 尾辻民雄
          li 小野寺伊久雄
          li 門脇富男
          li 金俊博
          li 佐藤博身
          li 佐藤正和
      section.part
        h4 バス
        ul
          li 相澤信清
          li 安保勝彦
          li 加賀谷俊雄
          li 佐々木章
          li 佐藤幸男
          li 添野武彦
          li 増田晴久
          li 森山武智男
  // r_main


