extends templates/_layout.pug

block title
  title 秋田男声合唱団 : プロフィール

block content
  #r_main
    h1 プロフィール
    table
      tbody
        tr
          td 名称
          td 秋田男声合唱団
        tr
          td 指揮者
          td 川口 洋一郎
        tr
          td 代表
          td 金俊博
        tr
          td 副代表
          td 田森一煕
        tr
          td 団員指揮者
          td 嵯峨　光雄
        tr
          td 団員
          td 2020年 1月現在 31名
        tr
          td 練習日
          td 毎週金曜日 PM 6:30 ～ 8:30
        tr
          td 練習会場
          td
            a(href='http://www.acvb.or.jp/convention/institution_detail.html?id=7') 秋田県社会福祉会館８階
        tr
          td 会費
          td
            p 月額 3,000円
        tr
          td 事務局
          td 金俊博, 長浜谷稔, 小笠原清輝
    h1 主な活動
    ul
      li 1999年 1月15日 : 成人の日を期して32名で設立
      li 1999年 4月 : 待望の団員40名を確保し、県・市の合唱連盟に加入し本格的活動を開始
      li
        | 1999年11月20日(土) : 第1回演奏会（会場 ：
        a(href='http://www.atorion.co.jp/ongaku/') アトリオン音楽ホール
        | (秋田市))
      li
        | 2001年 6月 9日(土) : 第2回演奏会 (会場 : 
        a(href='http://www.atorion.co.jp/ongaku/') アトリオン音楽ホール
        | (秋田市))
      li
        | 2002年11月22日(金) : 第3回演奏会 (会場 : 
        a(href='http://www.atorion.co.jp/ongaku/') アトリオン音楽ホール
        | (秋田市))
      li
        | 2004年 7月 2日(金) : 第4回演奏会 (会場 : 
        a(href='http://www.atorion.co.jp/ongaku/') アトリオン音楽ホール
        | (秋田市))
      li
        | 2005年 9月10日(土) : 第5回演奏会 (会場 : 
        a(href='http://www.atorion.co.jp/ongaku/') アトリオン音楽ホール
        | (秋田市))
      li
        | 2007年 6月9日(土) : 第6回演奏会 (会場 : 
        a(href='http://www.atorion.co.jp/ongaku/') アトリオン音楽ホール
        | (秋田市))
      li
        | 2008年 12月12日(金) : 創立10周年記念 第7回演奏会 (会場 : 
        a(href='http://www.atorion.co.jp/ongaku/') アトリオン音楽ホール
        | (秋田市))
      li
        | 2010年 11月26日(金) : 第8回演奏会 (会場 : 
        a(href='http://www.atorion.co.jp/ongaku/') アトリオン音楽ホール
        | (秋田市))
      li
        | 2011年 12月4日(土) : 第9回演奏会 (会場 : 
        a(href='http://www.atorion.co.jp/ongaku/') アトリオン音楽ホール
        | (秋田市))
      li
        | 2012年12月24日(月・祝日) : 第10回演奏会 (会場 : 
        a(href='http://www.atorion.co.jp/ongaku/') アトリオン音楽ホール
        | (秋田市))
      li
        | 2014年4月27日(土) : 第11回演奏会 (会場 : 
        a(href='http://www.atorion.co.jp/ongaku/') アトリオン音楽ホール
        | (秋田市))
      li
        | 2017年4月30日(日) : 第12回演奏会 (会場 : 
        a(href='http://www.atorion.co.jp/ongaku/') アトリオン音楽ホール
        | (秋田市))
      li
        | 2019年3月23日(土) : 創立20周年記念 第13回演奏会 (会場 : 
        a(href='http://www.atorion.co.jp/ongaku/') アトリオン音楽ホール
        | (秋田市))
  // r_main

